<!DOCTYPE html>
<html>
<body>

<h1>The iframe element</h1>
<video id="myVidPlayer" controls muted autoplay></video>
{#<iframe src="http://192.168.1.14:8000/livematch/livecam/" title="W3Schools Free Online Web Tutorials">#}
{#</iframe>#}
<script type="text/javascript">
    //Selector for your <video> element
    const video = document.querySelector('#myVidPlayer');

    //Core
    window.navigator.mediaDevices.getUserMedia({ video: true })
        .then(stream => {
            video.srcObject = stream;
            video.onloadedmetadata = (e) => {
                video.play();
            };
        })
        .catch( () => {
            alert('You have give browser the permission to run Webcam and mic ;( ');
        });

</script>
</body>
</html>