{% load static %}
{% load mathfilters %}

{% include 'home/base.html' %}
<body>
{% include 'home/side_nav_bar.html' %}
{% include 'home/register.html' %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{#<script>#}
{#    $(document).ready(function(){#}
{#  $(".flip").click(function(){#}
{#   if ($(this).find($(".panel")).is(":hidden")) {#}
{#       $("i").removeClass("fa-angle-up").addClass("fa-angle-down");#}
{#       $(".panel").slideUp();#}
{#       $(this).find($(".panel")).slideToggle("slow");#}
{#       $("i", this).removeClass("fa-angle-down").addClass("fa-angle-up");#}
{#   }#}
{##}
{#  });#}
{#  $(".title_header").click(function(){#}
{##}
{#   $("i").removeClass("fa-angle-up").addClass("fa-angle-down");#}
{#       $(".panel").slideUp();#}
{#  });#}
{#});#}
{#</script>#}
<style>
    .form-row{
        margin: 2%;
    }
    .flip{
        margin-top: 2%;
    }
    .title_header{
        color: #ffffff;
    }
    #iframe {
        width: 1028px;
        height: 1600px;
        border: 0px;
    }
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        #iframe {
            zoom: 1;
        }
    }
    #iframe {
        -moz-transform: scale(0.75);
        -moz-transform-origin: 0 0;
        -o-transform: scale(0.75);
        -o-transform-origin: 0 0;
        -webkit-transform: scale(0.75);
        -webkit-transform-origin: 0 0;
    }
    @media only screen and (max-width: 870px) {
        #iframe {
            margin-left: -24px;

            -moz-transform: scale(0.34);
            -moz-transform-origin: 0 0;
            -o-transform: scale(0.34);
            -o-transform-origin: 0 0;
            -webkit-transform: scale(0.34);
            -webkit-transform-origin: 0 0;
        }
    }
    select.form-control:not([size]):not([multiple]) {
        height: unset !important;
    }
    #footer_images{
        position: fixed;
        left: 5%;
        right: 5%;
        bottom: 0;
        width: 90%;
        color: white;
        text-align: center;
    }
    .carousel-control{
        width: unset !important;
    }
</style>

<select style="float: left" id="engagement_card_language">
    {% for language in all_languages %}
         <option value="{{ language.id }}" {% if language.language_name == engagement_card_details.language_name %}selected{% endif %}>{{ language.language_name }}</option>
    {% endfor %}
</select>
<form class="needs-validation" id="{{ engagement_card_details.id }}" style="min-width: 40%"   enctype="multipart/form-data" novalidate>
    {% csrf_token %}

   <div class="flip" style="background:#6c7b88;border-style:solid ;box-shadow: #464a52 ;border-radius: 12px; text-underline: #1e2229;font-weight: bold">
       <p class="title_header" style="background: #6c7b88;margin: auto;margin-left: 2%;">{{ labels.personal_details }}<i class="fa fa-angle-down" style="float:right;margin-right: 4%;"></i></p>

<div class="panel" style="display: block;background: #ffffff" >
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_groom_or_bride">{{ labels.i_am }}</label>
        <select id="groom_or_bride" class="form-control" >
            <option id="l_groom" value="0" {% if engagement_card_details.groom_or_bride == 0 %}selected{% endif %}>{{ labels.groom }}</option>
            <option id="l_bride" value="1" {% if engagement_card_details.groom_or_bride == 1 %}selected{% endif %}>{{ labels.bride }}</option>
        </select>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
      <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_groom_first_name">{{ labels.groom_first_name }}</label>
      <input type="text" class="form-control" id="groom_first_name" placeholder="{{ labels.groom_first_name }}" value="{{ engagement_card_details.groom_first_name }}"  required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_bride_first_name">{{ labels.bride_first_name }}</label>
      <input type="text" class="form-control" id="bride_first_name" placeholder="{{ labels.bride_first_name }}" value="{{ engagement_card_details.bride_first_name }}"  >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_date_of_engagement">{{ labels.date_of_engagement }}</label>
      <input type="date" class="form-control" id="date_of_engagement" placeholder="{{ labels.date_of_engagement}}" value="{{ engagement_card_details.date_of_engagement|date:"Y-m-d"}}" >
      <div class="invalid-feedback">
        Please provide a valid Date.
      </div>
    </div>
    <div class="col-md-4 mb-3">

      <label for="validationCustom04" id="l_place_of_engagement">{{ labels.place_of_engagement}}</label>
      <input type="text" class="form-control" id="place_of_engagement" value="{{ engagement_card_details.place_of_engagement  }}"  placeholder="{{ labels.place_of_engagement}}"  >
      <div class="invalid-feedback">
        Please provide a valid Place.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_time_of_engagement">{{ labels.time_of_engagement }}</label>
      <input type="time" class="form-control" id="time_of_engagement" value="{{ engagement_card_details.time_of_engagement|time:'H:i:00'   }}"  placeholder="{{ labels.time_of_engagement}}"  >
      <div class="invalid-feedback">
        Please provide a valid Time.
      </div>
    </div>
  </div>
<div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_groom_father">{{ labels.groom_father }}</label>
      <input type="text" class="form-control" id="groom_father" value="{{ engagement_card_details.groom_father  }}"  placeholder="{{ labels.groom_father }}"  >
      <div class="invalid-feedback">
        Please provide a valid Cast.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_groom_mother">{{ labels.groom_mother }}</label>
      <input type="text" class="form-control" id="groom_mother" value="{{ engagement_card_details.groom_mother  }}"  placeholder="{{ labels.groom_mother }}"  >
      <div class="invalid-feedback">
        Please provide a valid Gotra.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_special_guest_name">{{ labels.special_guest_name }}</label>
      <input type="text" class="form-control" id="special_guest_name" value="{{ engagement_card_details.special_guest_name  }}"  placeholder="{{ labels.special_guest_name }}"  >
      <div class="invalid-feedback">
        Please provide a valid Zodiac.
      </div>
    </div>
  </div>
      <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_bride_father">{{ labels.bride_father }}</label>
      <input type="text" class="form-control" id="bride_father" value="{{ engagement_card_details.bride_father  }}"  placeholder="{{ labels.bride_father }}"    >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_bride_mother">{{ labels.bride_mother }}</label>
      <input type="text" class="form-control" id="bride_mother" value="{{ engagement_card_details.bride_mother  }}"  placeholder="{{ labels.bride_mother }}"    >
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
           <div class="col-md-4 mb-3">
      <label for="validationCustom04" id="l_contact_mobile">{{ labels.contact_mobile }}</label>
      <input type="text" class="form-control" id="contact_mobile" value="{{ engagement_card_details.contact_mobile  }}"  placeholder="{{ labels.contact_mobile }}"    >

      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
        </div>
       </div>

{#  <button class="btn btn-primary" id="submit_form" type="submit" style="margin-top: 10px">Submit form</button>#}
</form>
<div id="iframe_div" style="margin-top:40px;overflow-scrolling: touch">
    Output PDF Pages
    <div id="wrap">
        <iframe id="iframe" src=""></iframe>
    </div>
</div>


</div>
</div>

</main>
<!-- page-content" -->
</div>

<div id="footer_images">
    <div>
        <button class="btn btn-primary" id="submit_form" style="float: left;margin-right:15px;color: #ffffff;background: #6c7b88"> Submit</button>
        <button id="myBtn"style="float: right;margin-left: 15px;color: #ffffff;background: #6c7b88;"  class="btn btn-primary">Top</button>
    </div>
    <div class="row" style="margin-top: 10px"><br>
        <div class="col-md-12">

            <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner" id="{{ template_id }}" >
                    {% for engagement_image in engagement_template %}

                        {% if forloop.counter < 4 %}
                            {% cycle '<div class="item active">' '' '' %}
                        {% else %}
                            {% cycle '<div class="item">' '' '' %}
                        {% endif %}
                        <div class="col-xs-4">
                            <div style="color: black;{% if engagement_image.id == template_id %}border-style: solid;{% else %}border-style: none;{% endif %}margin-bottom: 5px;"align="center" class="flip-card-front"  href="#1" id="{{ engagement_image.id }}">
                                <img id="{{ engagement_image.id }}" src="/media/{{ engagement_image.template_image_engagement_icon }}" alt="Avatar" style="width:50%;height:50%;margin: 2%;" class="img-responsive">
                            </div>
                        </div>
                        {% cycle '' '' '</div>' %}

                    {% endfor %}

                    <!--  Example item end -->
                </div>
                <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<script>

    var template_id = '{{ template_id }}';
    console.log(template_id);
    var create_engagement_card_url = '{% url "engagement_cards:CreateEngagementCard" %}';
    $("#submit_form").click(function (event) {
        var template_id = $(".carousel-inner").attr('id');

    event.preventDefault();
        MakeAjaxCallFormSubmit(template_id);
    });

        $(".flip-card-front").click(function() {
            if ($(this).css("border-style") == "none") {
                $(".flip-card-front").css('border-style', 'none')
                console.log($(this).css("border-style"));
                var template_id = this.id;
                {#console.log(this.id);#}
                $(this).css('border-style', 'solid')
                $(".flip-card-card").attr('id', template_id);
                $(".carousel-inner").attr('id', template_id);
                event.preventDefault();
                MakeAjaxCallFormSubmit(template_id);
                {#var template_id = $(".flip-card")[0].id;#}
            }
        });


                function MakeAjaxCallFormSubmit(template_id){
    var template_id = template_id;
    var data = new FormData();
    {#data.append('files[]', $('#image').prop('files')[0]);#}
    {#console.log($('#image').prop('files')[0]);#}
    var groom_name_length = $("#groom_first_name").val().length;
    var bride_name_length = $("#groom_first_name").val().length;
    var date_of_engagement = $("#date_of_engagement").val();
    console.log(date_of_engagement);
    var time_of_engagement = $("#time_of_engagement").val();
    var place_of_engagement = $("#place_of_engagement").val().length;
    console.log(groom_name_length);

    if (groom_name_length < 2 ) {
        alert("Groom Name required with atleast 3 characters");
    }
    else if ( bride_name_length < 2 ){
        alert("Bride Name required with atleast 3 characters");
    }
    else if ( date_of_engagement == "" ){
        alert("Date of Engagement required with atleast 3 characters");
    }
    else if ( time_of_engagement == "" ){
        alert("Time of Engagement required with atleast 3 characters");
    }
    else if ( place_of_engagement < 2 ){
        alert("Place of Engagement required with atleast 3 characters");
    }
    else {
        formdata = new FormData();
        formdata.append('engagement_card_id', $('form').attr('id'));
        formdata.append('template_id', template_id);
        {#formdata.append('image', $('#image').prop('files')[0]);#}
        formdata.append('groom_or_bride', $('#groom_or_bride').val());
        formdata.append('groom_first_name', $('#groom_first_name').val());
        formdata.append('bride_first_name', $('#bride_first_name').val());
        formdata.append('date_of_engagement', $('#date_of_engagement').val());
        formdata.append('time_of_engagement', $('#time_of_engagement').val());
        formdata.append('place_of_engagement', $('#place_of_engagement').val());
        formdata.append('groom_father', $('#groom_father').val());
        formdata.append('groom_mother', $('#groom_mother').val());
        formdata.append('bride_father', $('#bride_father').val());
        formdata.append('bride_mother', $('#bride_mother').val());
        formdata.append('special_guest_name', $('#special_guest_name').val());
        formdata.append('contact_mobile', $('#contact_mobile').val());
        {#formdata.append('language', $('#language').val());#}
        formdata.append('language_id', $('#engagement_card_language').val());
        formdata.append('csrfmiddlewaretoken', '{{csrf_token}}');
        jQuery.ajax({
            url: create_engagement_card_url,
            type: "POST",
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                $('form').attr("id",data['engagement_card_id']);
                var $iframe = $('#iframe');
                $iframe.attr('srcdoc', data['html']);
                $('html, body').animate({
                    scrollTop: $("#iframe_div").offset().top
                }, );
            }
        });
    }
}
</script>
<script>
$('#engagement_card_language').change(function(event) {
    event.preventDefault();
    $.ajax({
        type:"POST",
        url : "{% url 'engagement_cards:selected_language' %}",
        data : {'engagement_language_id':$(this).val(),
            'csrfmiddlewaretoken':'{{ csrf_token }}'},
        success : function(response) {
            data = response;
            console.log(data);
            var label = data['labels']
            console.log('label:');
            console.log(label['foo']);
            $("#l_groom_or_bride").html(label['i_am']);
            $("#l_groom").html(label['groom']);
            $("#l_bride").html(label['bride']);
            $("#l_groom_first_name").html(label['groom_first_name']);
            $("#l_groom_or_bride").html(label['l_groom_or_bride']);
            $("#l_bride_first_name").html(label['bride_first_name']);
            $("#l_date_of_engagement").html(label['date_of_engagement']);
            $("#l_time_of_engagement").html(label['time_of_engagement']);
            $("#l_place_of_engagement").html(label['place_of_engagement']);
            $("#l_bride_father").html(label['bride_father']);
            $("#l_bride_mother").html(label['bride_mother']);
            $("#l_groom_father").html(label['groom_father']);
            $("#l_groom_mother").html(label['groom_mother']);
            $("#l_special_guest_name").html(label['special_guest_name']);
            $("#l_contact_mobile").html(label['contact_mobile']);

            console.log(data);
        },
        error: function() {
            alert('Error occured');
        }
    });
    });

$("#myBtn").click(function (){
    $('html, body').animate({
        scrollTop: $(".needs-validation").offset().top
    });

},);
</script>
</body>
</html>