{% load static %}
{% load staticfiles %}
{% include 'home/base.html' %}
<body>
{% include 'home/side_nav_bar.html' %}
<div>
<h1>Privacy Policy</h1>
    <p>
        Last updated: July, 14, 2021
        This privacy policy is for how "Kraagh - Cards Maker" application uses and protects information that
        you give to the application. this application ask for mobile number for registration to insure users are real.
        In this application Firebase mobile number authentication ask for registration and login.
        For now this application has 5 screen - Wedding-Biodata, Engagement, Wedding, Resume, Business Cards

        <br>This policy is effective from 15th of July, 2021
    <br>
        <h5>What informations we collect </h5>
    <p>
        We collect following information
        - Mobile Number
        - Required Personal Details for creating Cards
    </p>
    <br>
    <h5>What we do with the information we gather</h5>
    <p>
        We require this information for authentication and creating a cards.
    </p>
    <br>
    <h5>Security</h5>
    <p> Your information is safe with this application. this details are use to prevent unauthrised access and create cards for users.</p>
    <br>
 <h5>How we use cookies</h5>
    <p>A cookie is a small file which asks permission to e placed on computers hard drive. once you agree the file is added and the cookie helps
    analyse we traffic or lets you know when you visit  particular site.Most web browsers
    automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
    </p>
<br>
    <h5>Links to other websites</h5>
    <p>This application is not linked with other websites. it may be linked with 3rd party payment gateway websites for payments</p>
</div>
<br>
<h5>Controlling your personal information</h5>
<p>We will not sell, distribute or lease your personal information to third parties
    unless we have your permission or are required by law to do so.
    We use your information to authenticate and creating a pdf and images to provide you cards.
    If you believe that any information we are holding on you is incorrect or incomplete, please contact us as
    soon as possible. We will promptly correct any information found to be incorrect.
</p>
</body>