{% load static %}

{% include 'home/base.html' %}
<body>
{% include 'home/side_nav_bar.html' %}
<div>
<h1>Terms And Conditions</h1>
    <p>
        Welcome to Website Premium11 CardMaker.
        These terms and conditions outline the rules and regulations for the use of
        Premium11 CardMaker App<br>

        By accessing this website we assume you accept these terms and conditions. Do not
        continue to use Premium11 CardMaker App if you do not agree to take all of the
        terms and conditions stated on this page.<br>



        Last updated: August, 21, 2021
        This privacy policy is for how "Premium11 - Cards Maker" application uses and protects information that
        you give to the application. this application ask for mobile number for registration to insure users are real.
        In this application Firebase mobile number authentication ask for registration and login.
        For now this application has 5 Module - Wedding-Biodata, Engagement, Wedding, Resume, Business Cards

        <br>This policy is effective from 21th of August, 2021
    <br>
        <h5>What informations we collect </h5>
    <p>
        We collect following information
        - Mobile Number
        - Required Personal Details for creating Cards
    </p>
    <br>
    <h5>What we do with the information we gather</h5>
    <p>
        We require this information for authentication and creating a cards.
    </p>
    <br>
    <h5>Security</h5>
    <p>Your information is safe with this application. this details are use to prevent unauthrised access and create cards for users.</p>
    <br>
    <h5>Refund and Cancellation Policy</h5>
    <p>
        Premium11 reserves the right to refuse/cancel any order. Premium11 CardMaker at its sole discretion may cancel any
        order(s): <br>
        i. If it suspects a fraudulent transaction, or <br>
        ii. If it suspects a customer has undertaken a transaction which is not in accordance with the
        Terms of Use or <br>
        iii. For any reason outside the control of the Premium11 including causes for delivery related
        logistical difficulties.<br>
        <b>Refund/Cancellation policies applicable in the following conditions:</b><br>
        a) In case, the buyer did not get correct order and contact for refund.<br>
        b) In case the payment is done and buyer did not received any soft copy of pdf or image . Total order amount of
        handling charges will be refunded. The refund will be processed, once Premium11 CardMaker found a genuine issue of not getting a correct Card.<br>
        c) However, the Payment Done and Buyer Received a Card which is Same as Preview will be not eligible for Refund <br>
        d) In case of failed transactions or double realization of account for the same order, the total
        deducted amount will be refunded once Premium11 CardMaker receive the issue from Buyer. <br>
        f) In case of failed transactions, the bank/card transaction charges of the
        buyer, if any, is likely to be forfeited <br>
        g) Premium11 CardMaker offers no guarantees whatsoever for the accuracy or timeliness of the refunds in the
        buyers card/account <br>
        h) In App there is No cancellation of order so Refund will be done only if Buyer Raise a Refund issue and We found it genuine then the total amount will be refund directly to Buyers Account<br>
    </p>
    <br>
 <h5>How we use cookies</h5>
    <p>A cookie is a small file which asks permission to e placed on computers hard drive. once you agree the file is added and the cookie helps
    analyse we traffic or lets you know when you visit  particular site.Most web browsers
    automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. This may prevent you from taking full advantage of the website.
    </p>
<br>
    <h5>Links to other websites</h5>
    <p>This application is not linked with other websites. it may be linked with 3rd party payment gateway websites for payments</p>
</div>
<br>
<h5>Controlling your personal information</h5>
<p>We will not sell, distribute or lease your personal information to third parties
    unless we have your permission or are required by law to do so.
    We use your information to authenticate and creating a pdf and images to provide you cards.
    If you believe that any information we are holding on you is incorrect or incomplete, please contact us as
    soon as possible. We will promptly correct any information found to be incorrect.
</p>
</body>