aioredis
appdirs
asgiref
asn1crypto
async-timeout
attrs
autobahn
Automat
Babel
certifi
cffi
channels
channels-redis
choice
colorama
constantly
cryptography
cv2wrap
daphne
defusedxml
distlib
Django
django-colorfield
django-cookies-samesite
django-cors-headers
django-country-dialcode
django-filter
django-oauth-toolkit
django-otp
django-paypal
django-phonenumber-field
django-qr-code
django-social-authsch
django-twilio
django-user-agents
djangorestframework
easy-thumbnails
filelock
hiredis
hyperlink
idna
importlib-metadata
importlib-resources
imutils
incremental
msgpack
msgpack-python
now
numpy
oauth-provider
oauth2-provider
opencv-python
packaging
paypal
phonenumbers
Pillow
pluggy
psycopg2-binary
public
py
pycparser
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
python-decouple
python-memcached
python-social-auth
python3-openid
pytz
pyzbar
qrcode
redis
reportlab
requests
rm
service-identity
six
social-auth-app-django
social-auth-core
sorl-thumbnail
sqlparse
standard
stripe
toml
tox
twilio
Twisted
txaio
ua-parser
urllib3
user-agents
values
virtualenv
webencodings
whitenoise
xhtml2pdf
zipp
zope.interface
