{% include "base.html" %}

<div style="padding: 10%;background: white">
    <br><br>
    <p>
This is Free and ads based reward app
    <br><br>
No need to add any cash. User will create team by selecting any 11 players from both team and can join contest with created team.<br>
    <br><br>
user can join contest with number of team according to the contest it can be 1 to 11 team.
    <br><br>
for now withdrawal will be like:<br>
    user must have added their bank details in account
    user will withdraw amount if he has more than 50.00 Rs in account
    after withdraw one withdraw msg will be sent to customer support team with pending status.
    after some days withdraw will be done and transfer to the bank account provided y user.


</p>
</div>
<style>
    p{
        background: white;
    }
    body{
        background: #cccccc;
    }
</style>