<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    #loader {
        display: block !important;
    }
</style>
{% include 'loader/loader.html' %}
<form id="add_money" action='{{ action }}' method='post'>
    <input type="hidden" name="key" value="{{ key }}" />
    <input type="hidden" name="txnid" value="{{ txnid }}" />
    <input type="hidden" name="productinfo" value="{{ productinfo }}" />
    <input type="hidden" name="amount" value="{{ amount }}" />
    <input type="hidden" name="email" value="{{ email }}" />
    <input type="hidden" name="firstname" value="{{ firstname }}" />
    <input type="hidden" name="lastname" value="{{ lastname }}" />
    <input type="hidden" name="surl" value="{{ surl }}" />
    <input type="hidden" name="furl" value="{{ furl }}" />
    <input type="hidden" name="phone" value="{{ phone }}" />
    <input type='hidden' id="hash_str" name="hash" value="{{ hash }}" />
    <input type="hidden" value="submit"> </form>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#add_money").submit();
     });
</script>
</body>
</html>