{% load static %}
{% include 'home/base.html' %}
<body>
{% include 'home/side_nav_bar.html' %}
{% include 'home/register.html' %}
<h6>Resume</h6>
<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#home" class="active show">Created Cards</a></li>
        <li style="padding-left: 20px"><a href="#menu1">Templates</a></li>
{#        <li><a href="#menu2">Menu 2</a></li>#}
{#        <li><a href="#menu3">Menu 3</a></li>#}
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active show">
            <div class="biodata" style="float: left;width: 100%;border-style: none">
                <div class="biodata_purchased" style="border-style: none;background: none">
                    <div><p style="font-size: x-large">PDF</p></div>
                    {% for purchased in resume_purchased %}
                        <div style="background: #818896;margin: 1%;height: 27px; "> {{ purchased }}
                            <div style="float: right">
                                <a href="{% url 'resume_cards:resume_form' %}?resume_card_id={{ purchased.id }} "><button style="margin-right:2px ">Edit</button></a>
                                <a href="{% url 'resume_cards:get_wk_pdf'   %}?resume_card_id={{ purchased.id }}&content_type=download"><button style="">Download</button></a>
                            </div>
                        </div><br>
                    {% endfor %}
                </div>
                <div class="biodata_drafs" style="border-style:none;background: none" >
                    <div><p style="font-size: x-large">Drafts</p></div>

                    {% for drafts in resume_drafts %}
                        <a href="{% url 'resume:resume_form' %}?resume_card_id={{ drafts.id }}" ><label  style="background: #818896;margin: 1%;width: 99%;color: #1e2229;cursor: pointer;text-align: center">{{ drafts }} </label></a><br>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="templates" style="float: left;width: 100%;border-style: none;margin-left: 1%">
                <div style="margin-left: 3%;"><p style="font-size: x-large">Templates</p></div>
                {% for resume_image in resume_templates %}
                    <a href="{% url 'resume:resume_form'    %}?resume_card_id={{ resume_image.id }}" style="margin: 3%"><img src="/media/{{ resume_image.template_image_resume_icon }}"width="40%"height="15%"></a>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function(){
        $(".nav-tabs a").click(function(){
            $(this).tab('show');
        });
    });
</script>
<style>
    .container{
        display: none;
    }

    @media only screen and (max-width: 600px) {
        .container {
            display: block;
        }
        .main_desktop{
            display: none;
        }
    }

</style>
<div class="main_desktop"style="width: 100%">
    <div class="biodata" style="float: left;width: 30%;border-style: none">
         <div class="biodata_purchased" style="border-style: none;background: none">
        <div><p style="font-size: x-large">PDF</p></div>
            {% for purchased in resume_purchased %}
                <div style="background: #818896;margin: 1%;height: 27px; "> {{ purchased }}
                <div style="float: right">
                    <a href="{% url 'resume_cards:resume_form' %}?resume_card_id={{ purchased.id }} "><button style="margin-right:2px ">Edit</button></a>
                    <a href="{% url 'resume_cards:get_wk_pdf'   %}?resume_card_id={{ purchased.id }}&content_type=download"><button style="">Download</button></a>
                </div>
                </div><br>
            {% endfor %}
        </div>
        <div class="biodata_drafs" style="border-style:none;background: none" >
        <div><p style="font-size: x-large">Drafts</p></div>

            {% for drafts in resume_drafts %}
                <a href="{% url 'resume:resume_form' %}?resume_card_id={{ drafts.id }}"><label  style="background: #818896;margin: 1%;width: 45%;color: #1e2229;cursor: pointer">{{ drafts }} </label></a>
            {% endfor %}

        </div>
    </div>
    <div class="border" style="border-style: solid;height: 100%;float: left;margin-left: 1%"></div>
    <div class="templates" style="float: left;width:65%;border-style: none;margin-left: 1%">
    <div style="margin-left: 3%;"><p style="font-size: x-large">Templates</p></div>
           {% for resume_image in resume_templates %}
               <a href="{% url 'resume:resume_form'    %}?resume_card_id={{ resume_image.id }}" style="margin: 3%"><img src="/media/{{ resume_image.template_image_resume_icon }}"width="10%"height="15%"></a>
           {% endfor %}
    </div>

</div>

</body>
</html>